{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>McGUI Open Source Libraries</h1>
    <a href="http://jquery.org/license/">JQuery</a>
    <p class="text-muted">Contributors on GitHub</p>
    <hr>
    <a href="https://github.com/borismoore/jsrender">JsRender</a>
    <p class="text-muted">Boris Moore and contributors on GitHub</p>
    <hr>
    <a href="https://getbootstrap.com/">Bootstrap</a>
    <p class="text-muted">Bootstrap team and contributors on GitHub</p>
    <hr>
    <a href="https://github.com/pallets/flask">Flask</a>
    <p class="text-muted">Pallets and contributors on GitHub</p>
    <hr>
    <a href="https://github.com/Dinnerbone/mcstatus">McStatus</a>
    <p class="text-muted">Nathan Adams "Dinnerbone" and contributors on GitHub</p>
{% endblock %}