{% extends "base.html" %}
{% block title %}Files{% endblock %}
{% block scripts %}
<script src="/static/js/adminPanels/file-explorer.js"></script>
<script src="/static/js/templateProcessor.js"></script>
{% endblock %}
{% block content %}
<h1>File Explorer</h1>
<div style="display: inline-block;">
  <nav aria-label="breadcrumb" style="display: inline-block; margin-right: 8px;">
    <ol class="breadcrumb" id="breadCrumbList">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
  <a href="" id="upFolder">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z" />
    </svg>
  </a>
</div>
<!-- <p>Drag and drop files to upload, or click <a href="">here</a>.</p> -->
<table class="table table-dark table-hover" id="drop-area">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Modified</th>
      <th scope="col">Item Type</th>
      <th scope="col">Item Size</th>
    </tr>
  </thead>
  <tbody id="files">
    <tr>
      <th scope="row">example.txt</th>
      <td>Today</td>
      <td>Text File</td>
      <td>2kb</td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bg-dark text-light">
      <div class="modal-content modal-dialog bg-dark text-light" id="modal-content">
          
      </div>
  </div>
</div>

{% endblock %}

