{% extends "base.html" %}
{% block title %}Terminal{% endblock %}
{% block scripts %}
    <script src="/static/js/terminal.js"></script>
{% endblock %}
{% block content %}
    <h1>Terminal</h1>
    <textarea name="" id="terminalLog" cols="100%" rows="15" readonly style="font-family: 'Courier New', Courier, monospace; font-size: 16px;">loading...</textarea>
    <form action="" method="" id="sendCommand">
        <input type="text" placeholder="Command" name="command" id="command">
        <input type="submit" value="Send Command" id="commandSubmit" disabled>
    </form>
    <label for="autoscroll">Autoscroll</label>
    <input type="checkbox" name="autoscroll" id="autoscroll" checked>
    <label for="autoscroll">Auto Refresh</label>
    <input type="checkbox" name="autorefresh" id="autorefresh" checked>

    <p id="connectionText"></p>

{% endblock %}